$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

.menu-button {
  cursor: default;
  font-family: 'Libre Baskerville', serif;
  height: 44px;
  margin-right: 10px;
  margin-top: 3px;
}

a {
  cursor: default;
}

.navbar {
  max-height: 20px;
}

.user-message {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

.user-display {
  height: 40px;
  margin-top: 60px;
  padding-top: 30px;
  width: 40px;
}

.game-board {
  height: 296px;
  margin: 100px auto;
  overflow: hidden;
  width: 296px;
}

.game-tile {
  float: left;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  height: 96px;
  width: 96px;
  cursor: default;

  h1 {
    font-size: 60px;
    text-align: center;
  }
 }

.name-display {
  display: inline;
  float: left;
  padding-right: 8px;
 }

.tile-a {
  border-bottom: solid 1px $almost-black;
  border-right: solid 1px $almost-black;
}

.tile-b {
  border-bottom: solid 1px $almost-black;
  border-left: solid 1px $almost-black;
  border-right: solid 1px $almost-black;
}

.tile-c {
  border-bottom: solid 1px $almost-black;
  border-left: solid 1px $almost-black;
}

.tile-d {
  border-bottom: 1px solid $almost-black;
  border-right: 1px solid $almost-black;
  border-top: 1px solid $almost-black;
}

.tile-e {
  border: 1px solid $almost-black;
}

.tile-f {
  border-bottom: 1px solid $almost-black;
  border-left: 1px solid $almost-black;
  border-top: 1px solid $almost-black;
}

.tile-g {
  border-right: 1px solid $almost-black;
  border-top: 1px solid $almost-black;
}

.tile-h {
  border-left: 1px solid $almost-black;
  border-right: 1px solid $almost-black;
  border-top: 1px solid $almost-black;
}

.tile-i {
  border-left: 1px solid $almost-black;
  border-top: 1px solid $almost-black;
}

.x-or-o {
  height: 148px;
  margin: 0 auto;
  width: 148px;
}

.big-letter {
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
  padding-bottom: 30px;
}

.choose-x {
  border-right: 2px solid $almost-black;
  float: left;
  height: 74px;
  padding-bottom: 10px;
  padding-right: 7px;
  text-align: right;
  width: 74px;
}

.choose-o {
  float: right;
  height: 74px;
  padding-left: 7px;
  width: 74px;
}

.new-game {
  color: $almost-black;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
}

.new-game:hover {
  color: $almost-black;
  font-size: 15px;
  text-decoration: none;
}

.new-reset {
  border-top: 2px solid $almost-black;
  clear: both;
  height: 74px;
  padding: 30px;
  text-align: center;
  width: 148px;
}
