$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.menu-button {
  margin-right: 10px;
}

.user-display {
  background-color: #feaeaf;
  width: 40px;
  height: 40px;
  margin-top: 60px;
}

.game-board {
  margin: 100px auto;
  overflow: hidden;
  height: 296px;
  width: 296px;
}


 .game-tile {
   height: 96px;
   width: 96px;
   float: left;
 }


.tile-A {
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
}

.tile-B {
  border-left: solid 1px #000;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
}

.tile-C {
  border-left: solid 1px #000;
  border-bottom: solid 1px #000;
}

.tile-D {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.tile-E {
  border: 1px solid #000;
}

.tile-F {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.tile-G {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.tile-H {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.tile-I {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

// nav {
//   background-color: #808080;
//   height: 30px;
// }
//
// nav > a {
//   overflow: hidden;
// }
//
// nav > a > div {
//   float: left;
// }
//
// nav > a > div, nav > a{
//   background-color: #dd0000;
//   color: #fff;
//   height: 100%;
//   min-width: 87px;
//   padding: 5px;
//   padding-left: 8px;
//   text-decoration: none;
//   width: 7%;
// }
//
// nav > a:hover {
//   background-color: #ffff00;
//   color: #000;
//   font-weight: bold;
//   text-decoration: line-through;
// }
